<!-- Views/Account/Admin.cshtml -->

@{
    ViewData["Title"] = "Admin";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"]</h2>
            <p>Only NICE staff can access this page</p>
        </div>
    </div>
</div>