<!-- Views/ApiClient/PrivateScopedOut.cshtml -->

@{
    ViewBag.Title = "Private endpoint scoped no access";
}

<div class="row">
    <div class="col-md-12">
        <h3>@ViewBag.Title</h3>
        <p>Message: @ViewBag.Message</p>
    </div>
</div>