<!-- Views/ApiClient/Public.cshtml -->

@{
    ViewBag.Title = "Public endpoint";
}

<div class="row">
    <div class="col-md-12">
        <h3>@ViewData["Title"]</h3>
        <p>Message: @ViewBag.Message</p>
    </div>
</div>